# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jetbrains IDE's
.idea/

# MacOS files
.DS_Store

# Temp files and results of script
assets/*/*
*.mp3
*.mp4
*.png